{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section
                class="inner-banner flex-center"
                style="background: url(/static/images/banner-service.png)"
            >
                <div class="inner-title">
                    <h1>Careers</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li
                                class="breadcrumb-item active"
                                aria-current="page"
                            >
                                Vacancies
                            </li>
                        </ol>
                    </nav>
                </div>
            </section>
        </header>
        <section class="services py-5">
            <div class="container">
                <div class="row py-5">
                    <div class="col-lg-12">
                        <div class="service-tab">
                            <div class="d-flex align-items-start mbl-column">
                                <div
                                    class="nav flex-column nav-pills me-5"
                                    id="v-pills-tab"
                                    role="tablist"
                                    aria-orientation="vertical"
                                >
                                    <h3 class="fw-bold mb-4">
                                        Countries we Support
                                    </h3>
                                    {% for country in countries %}
                                    <button onclick="location.href='{% url 'vacancies' country_name=country.slug countryfaq_country=faqs.id %}'"
                                        class="nav-link active"
                                        id="v-pills-home-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#v-pills-home"
                                        type="button"
                                        role="tab"
                                        aria-controls="v-pills-home"
                                        aria-selected="true"
                                    >
                                        <span
                                            ><i class="bi bi-chevron-right"></i
                                        ></span>
                                        {{ country.name }}
                                    </button>
                                    {% endfor %}
                                </div>
                                <!-- --content------- -->
                                <div
                                    class="tab-content"
                                    id="v-pills-tabContent"
                                >
                                    <div
                                        class="tab-pane fade show active"
                                        id="v-pills-home"
                                        role="tabpanel"
                                        aria-labelledby="v-pills-home-tab"
                                        tabindex="0"
                                    >
                                        <div class="content-section">
                                            <div class="banner">
                                                <img
                                                    src="{{ single_country.country_image.url }}"
                                                    alt="Worker Visa"
                                                    class="img-fluid"
                                                />
                                                <h3 class="title">{{ single_country.name }}</h3>
                                            </div>
                                            <div class="title-head py-4">
                                                <h1 class="mainhead">
                                                    Country Overview
                                                </h1>
                                            </div>
                                            <div class="content-text">
                                                <div class="country-overview">
                                                    <p>
                                                        {{ single_country.country_description }}
                                                    </p>
                                                </div>
                                                <div class="quick-facts py-4">
                                                    <h3 class="fw-bold mb-4">
                                                        Quick Facts
                                                    </h3>
                                                    <ul
                                                        class="list-unstyled facts-list"
                                                    >
                                                        <li>{{ single_country.country_description }}</li>
                                                       <!--  <li>
                                                            Area: Approximately
                                                            83,879 square
                                                            kilometers (32,383
                                                            square miles)
                                                        </li>
                                                        <li>
                                                            Population: Around 9
                                                            million people
                                                        </li>
                                                        <li>
                                                            Official Language:
                                                            German
                                                        </li>
                                                        <li>
                                                            Currency: Euro (€)
                                                        </li>
                                                        <li>
                                                            Government: Federal
                                                            parliamentary
                                                            republic
                                                        </li>
                                                        <li>
                                                            Regions: Composed of
                                                            nine federal states
                                                            (Bundesländer),
                                                            including Tyrol,
                                                            Vorarlberg, and
                                                            Salzburg.
                                                        </li>
                                                        <li>
                                                            Climate: Temperate,
                                                            with continental
                                                            influences; cold
                                                            winters and warm
                                                            summers.
                                                        </li>
                                                        <li>
                                                            Major Industries:
                                                            Tourism, machinery,
                                                            automotive, and food
                                                            processing.
                                                        </li>
                                                        <li>
                                                            Cultural Heritage:
                                                            Known for classical
                                                            music, opera, and
                                                            traditional Viennese
                                                            coffee culture.
                                                        </li>
                                                        <li>
                                                            Natural Features:
                                                            The Alps dominate
                                                            the landscape,
                                                            offering
                                                            opportunities for
                                                            skiing, hiking, and
                                                            other outdoor
                                                            activities.
                                                        </li>
                                                        <li>
                                                            UN and EU
                                                            Membership: Austria
                                                            is a member of the
                                                            United Nations and
                                                            the European Union.
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="job-listing">
                                                <div class="title-head py-4">
                                                    <h1 class="mainhead mb-4">
                                                        Job Listed
                                                    </h1>
                                                </div>
                                    
                                                <div
                                                    class="carrer-list-wrapper"
                                                >
                                                    <div
                                                        class="row pb-5 jobList"
                                                    >
                                                        <div
                                                            class="col-lg-4 col-md-6"
                                                        >
                                                            <div
                                                                class="job-list-item"
                                                            >
                                                                <div
                                                                    class="career-box"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#jobDetails"
                                                                        ><img
                                                                            src="images/work-visa-3.png"
                                                                            alt="Driver VIsa"
                                                                            class="img-fluid"
                                                                        />
                                                                        <div
                                                                            class="job-caption"
                                                                        >
                                                                            <h2>
                                                                                {{ country_vacancies.title }}
                                                                            </h2>
                                                                        </div></a
                                                                    >
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="col-12">
                                                            <span
                                                                class="overflow"
                                                                data-state="visible"
                                                                aria-hidden="true"
                                                            ></span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-12 text-center py-5"
                                                    >
                                                        <a
                                                            id="showMore"
                                                            href="#"
                                                            class="btn btn-theme toggle"
                                                            data-state="more"
                                                            >View more</a
                                                        >
                                                    </div>
                                                </div>
                                             
                                            </div>

                                            <div class="faq-session">
                                                <div class="title-head py-4">
                                                    <h1 class="mainhead">
                                                        Frequently Asked
                                                        Question
                                                    </h1>
                                                </div>
                                                <!-- accordion -->
                                                <div
                                                    class="accordion mt-4 mb-5"
                                                    id="accordionExample"
                                                >
                                                    <div class="accordion-item">
                                                        {% for faq in countryfaqs %}
                                                        <h2
                                                            class="accordion-header"
                                                        >
                                                            <button
                                                                class="accordion-button"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapseOne-1"
                                                                aria-expanded="true"
                                                                aria-controls="collapseOne-1"
                                                            >
                                                                {{ faq.question }}
                                            
                                                            </button>
                                                        </h2>
                                                        <div
                                                            id="collapseOne-1"
                                                            class="accordion-collapse collapse show"
                                                            data-bs-parent="#accordionExample"
                                                        >
                                                            <div
                                                                class="accordion-body"
                                                            >
                                                                <div
                                                                    class="row py-2"
                                                                >
                                                                    <p>
                                                                       {{ faq.answer }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            const txt = document.querySelector('.jobList');
            const txtInitialHeight = txt.clientHeight;
            const overflow = document.querySelector('.overflow');
            const btn = document.querySelector('.toggle');

            btn.addEventListener('click', initToggle);

            function initToggle(e) {
                txt.style.maxHeight =
                    e.target.dataset.state === 'more'
                        ? `${txt.scrollHeight}px`
                        : `${txtInitialHeight}px`;
                e.target.setAttribute(
                    'data-state',
                    e.target.dataset.state === 'more' ? 'less' : 'more'
                );
                e.target.innerHTML =
                    e.target.dataset.state === 'more'
                        ? 'View more'
                        : 'View less';
                overflow.setAttribute(
                    'data-state',
                    e.target.dataset.state === 'more' ? 'visible' : 'hidden'
                );
            }
        </script>

{% endblock %}